// Rename this file to config.json to use
{
    "DEFAULT": {
        "DB_NAME": "campaign-api-sync"
    },
    "TEST": {
        "HOST": "localhost",
        "DB_USER": "postgres",
        "DB_PASSWORD": "...",
        "API_URL": "http://localhost:12061/api"
    },
    "LIVE": {
        "HOST": "localhost",
        "DB_NAME": "campaign-api-sync",
        "DB_USER": "postgres",
        "DB_PASSWORD": "...",
        "API_URL": "https://netfile.com/filing/api"
    }
}