// Update example values and rename this file to config.json to use.
{
    "TEST": {
        "HOST": "localhost",
        "DB_NAME": "campaign-api-sync-unit-test",
        "DB_USER": "postgres",
        "DB_PASSWORD": "password123",
        "API_URL": "http://localhost:12061/api",
        "API_KEY": "text@example.com",
        "API_PASSWORD": "password123"
    },
    "LIVE": {
        "HOST": "localhost",
        "DB_NAME": "campaign-api-sync",
        "DB_USER": "postgres",
        "DB_PASSWORD": "password123",
        "API_URL": "https://netfile.com/filing/api",
        "API_KEY": "text@example.com",
        "API_PASSWORD": "password123"
    }
}